a:has(>*.btn) {
    display: inline-block;
}

.btn {
    padding: 0 20px;
    font-size: 15px;
    font-weight: 500;
    line-height: 36px;
    height: 36px;
    color: #ff8906;
    background-color: transparent;
    border: 1px solid #424242;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.25s;
    margin-right: 10px;
    display: inline-block;
}

.btn:hover {
    background-color: #ffaa483b;
}