body {
    display: flex;
}

.game_panel {
    width: calc(100vw - 400px);
}

.chatroom {
    width: 400px;
    height: 100vh;
    background-color: #252525;
}

#chatLine {
    position: relative;
    overflow-y: auto;
    width: 100%;
    height: calc(100% - 40px - 1rem);
}

#chatLine::-webkit-scrollbar {
    width: 3px;
    height: 100%;
    background: #252525;
}

#chatLine::-webkit-scrollbar-thumb {
    background-color: #636363;
    border-radius: 5px;
}

#chatLine .chatLineGroup {
    display: flex;
    align-items: flex-end;
    width: 100%;
    justify-content: flex-end;
}

#chatLine .chatLineGroup.other {
    flex-direction: row-reverse;
}

#chatLine .chatLineGroup.me {
    flex-direction: row;
}

#chatLine .time {
    color: #ffffff80;
    font-size: 0.8rem;
    margin-bottom: 10px;
}

#chatLine .msg {
    padding: 8px 10px;
    display: inline-block;
    border-radius: 8px;
    margin: 5px;
    max-width: calc(60% - 10px);
    overflow-wrap: anywhere;
}

#chatLine .other .msg {
    background-color: #494949;
    color: #fff;
    /* margin-right: auto; */
}

#chatLine .me .msg {
    background-color: rgb(56, 104, 207);
    color: #000;
    float: right;
}

#chatEntryGroup {
    width: calc(100% - 30px);
    margin: 0 auto 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#messageInput {
    padding: 8px 10px;
    width: 80%;
    height: 1.5rem;
    line-height: 1.5rem;
    background-color: #4d4d4d;
    color: #fff;
    border-radius: 99px;
    border: 0;
    outline: 0;
}

#sendMessage_btn {
    background-color: rgb(194, 87, 0);
    width: calc(1.5rem + 20px);
    height: calc(1.5rem + 20px);
    border-radius: 999px;
    border: 0;
    cursor: pointer;
}