.form {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputGroup {
    position: relative;
    margin-top: 5px;
}

.inputGroup>label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 20px;
    transform: translateY(calc(1.5rem + 10px));
    color: #818181;
    transition: transform 0.3s;
    cursor: text;
}

.inputGroup>input:focus~label,
.inputGroup>input:not(:placeholder-shown)~label {
    transform: translateY(0);
}

.inputGroup>input {
    padding: 10px 20px;
    border-radius: calc(1rem + 10px);
    margin-top: 1.5rem;
    border: 1px #000 solid;
    font-size: 1rem;
}

#btn {
    margin-top: 30px;
    border-radius: 999px;
    padding: 5px 20px;
    border: 1px #000 solid;
    cursor: pointer;
}